.body {
  .card-whoweare {
    h2,
    h3,
    p {
      color: #fff !important;
      transition: 1s;
    }
  }

  &.bg-creme {
    .card-whoweare {
      h2.text-zwart,
      h3.text-zwart,
      p.text-zwart {
        color: #000 !important;
        transition: 1s;
      }
      h2.text-white,
      h3.text-white,
      p.text-white {
        color: #fff !important;
        transition: 1s;
      }
      h2.text-diepgrijs,
      h3.text-diepgrijs,
      p.text-diepgrijs {
        color: #fff !important;
        transition: 1s;
      }
      h2.text-diepgrijs,
      h3.text-diepgrijs,
      p.text-diepgrijs {
        color: #202020 !important;
        transition: 1s;
      }
      h2.text-grijs,
      h3.text-grijs,
      p.text-grijs {
        color: #323232 !important;
        transition: 1s;
      }
      h2.text-creme,
      h3.text-creme,
      p.text-creme {
        color: #DAD4CB !important;
        transition: 1s;
      }
      h2.text-lightcreme,
      h3.text-lightcreme,
      p.text-lightcreme {
        color: #E9E4DB !important;
        transition: 1s;
      }
      h2.text-oranje,
      h3.text-oranje,
      p.text-oranje {
        color: #E87A2E !important;
        transition: 1s;
      }
      h2.text-purple,
      h3.text-purple,
      p.text-purple {
        color: #511da7cc !important;
        transition: 1s;
      }
    }
    .p-button.bg-creme.block {
      background-color: #e87a2e !important;
      color: #fff !important;
      border-color: #e87a2e !important;

      &:hover {
        background-color: #fff !important;
        border-color: #fff !important;
        color: #000 !important;
      }
    }
  }
}

.bg-img-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-color: #511da7;
  background-blend-mode: luminosity;
  transition: 0.3s;
  border-radius: 15px;
  aspect-ratio: 1 / 1;
  height: 100%;

  &:hover {
    background-blend-mode: unset;
    transform: scale(1.1);
    transition: 0.3s;
  }
}

.whoweare-card:last-of-type {
  .line {
    display: none;
  }
  @media only screen and (max-width: 1023px) {
    p {
      margin-bottom: 60px;
    }
  }
}
