.home-header-section {
    height: calc(100vh - 185px);
    min-height: 495px;
}

.h-header {
    height: calc(100vh - 165px);
    min-height: 495px;
}

@media screen and (min-width: 992px) {
    .h-header {
        height: calc(100vh - 125px);
        min-height: 495px;
    }
  }

  .h-header-scale-up {
    height: calc(100vh - 165px);
    min-height: 495px;
}

@media screen and (min-width: 992px) {
    .h-header-scale-up {
        height: calc(100vh - 104px);
        min-height: 495px;
    }
  }