// .scaleself {
//     --tw-scale-x: 1.1;
//     --tw-scale-y: 1.1;
// }

.portugal .rt-list .rt-list__header-main {
    display: none !important;
}

.portugal .rt-list .rt-list__header {
    display: none !important;
}

// .portugal #recruitee-careers .rt-list__items:nth-of-type(2) {
//     display: none !important;
// }

.portugal #recruitee-careers .rt-body .rt-list__items .rt-list__offer-item:nth-of-type(n + 5) {
    display: none !important;
}

.portugal {
    #recruitee-careers .rt-body .rt-list__items .rt-list__offer-item {
        background: #E9E4DB;
        transition-duration: 0.3s;
    }

    #recruitee-careers .rt-body .rt-list__items .rt-list__offer-item .rt-list__offer-title {
        color: #202020 !important;
    }

}